.network {
  width: 100%;
  height: 90vh;
  border: 1px solid lightgray;
}

.watcher {
  background: red;
  padding: 10px;
  color: white;
}

.streamer {
  background: blue;
  padding: 10px;
  color: white;
}